@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
* {
  font-family: sans-serif;
}
.rotate-arrow {
  @apply duration-300 rotate-180;
}

.btn-hover {
  @apply flex flex-col;
}

.btn-hover > span {
  @apply w-0 h-2 self-center;
}

.btn-hover:hover > span {
  @apply bg-black w-full h-2 rounded-md duration-300;
}

.tag-name {
  @apply rounded-xl border text-sm px-2  shadow-inner;
}

/* .code {
  @apply bg-slate-100 p-4 w-full;
} */

/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #181717;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

::-webkit-scrollbar-button {
  background: black;
}
